/*Remove in production*/
html {
	height:100%
}
body{
	height:100%
}
/*end "Remove in production"*/

#top_menu {
	
	width:100%;
	height:auto;
	text-align:center;
}
#bottom_menu {
	
	text-align:center;
}
#info_container{
	
	height: 100%;
	width:100%;
	/* text-align:center; */
}

.instructions{
	width:100%;
	height: auto;
}

.tutImage {
	display: inline;
	width: 59%;
	text-align: center;
	border-style: dotted;
	float: left;
}

.tutDesc {
	float: left;
	width: 40%;
	text-align: center;
	/* height: 100%; */
	/* display: table-cell; */
	vertical-align: middle;
	border-style: dotted;
}

.step {
	
    border-style: solid;
    border-width: medium;
    overflow: auto;
    /* height: auto; */
    /* display: table; */
    width: 100%;
}

.hidden {
	display: none;
}